.table  {
    border-collapse: collapse;
    width: 500px;
    height: 500px;
    /* margin-left: 500px; */
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.brown {
    background-color: brown;
}
.limon {
    background-color: burlywood;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.gray {
    background-color: gray;
}